html {
    height: 100%;
}

body {
    background-color: #f1f1f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body.new-body {
    display: flex;
    align-items: center;
}

body, #jspsych-root {
    margin: 0px;
    height: 100%;
    width: 100%;
}

#progress {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #888;
    margin: 8px 12px;
}

.jspsych-content {
    width: 600px;
    padding: 20px 30px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: white;
}

.jspsych-content.video {
    width: 100vh;
}

.jspsych-content.image {
    width: auto;
}

.jspsych-content:empty {
    display: none;
}

#jspsych-survey-html-form fieldset {
    display: flex;
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    border: 0;
}
#jspsych-survey-html-form fieldset label {
    width: 120px;
    text-align: right;
    padding-right: 6px;
}

.strong {
    font-weight: bold;
}

.video-choice {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.sound-choice {
    width: 400px;
    margin: -16px auto 0;
    display: flex;
    justify-content: space-around;
}

.image-choice {
    display: flex;
    justify-content: center;
}

.image-choice > div:first-child {
    margin-right: 40px;
}

.gap {
    width: 5%;
}

form fieldset {
    justify-content: flex-start;
    width: 100%;
}

form fieldset label {
    width: 40%;
}

form fieldset input {
    width: 58%;
    margin-left: 2%;
}